/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* ---------------------------------------------------- */

@font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist/Geist-UltraLight.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('../fonts/Geist/Geist-Bold.otf') format('truetype');
    font-weight: bold;
}

:root {
    --red: #f87171;
    --bg: #121c22;
    /* --b2: #0e171e */
    /* --b3: #091319 */
    --muted: #64748B;
    --text: #9fb9d0;
    --p: #ff865b;
    --s: #fd6f9c; /* purple */
    --t: #b387fa;  /* red-pinkish */
    --borders: #9fb9d0;
    --bor: #2f3943;
    --card: #1b262c; /* dark blue (--nc) */
    --search: #091319;
}

body {
    font-family: 'Geist';
    font-size: 16px;
    color: var(--text);
    background: var(--bg);
}

main {
    display: flex;
    flex-flow: column nowrap; /* Wrap causes the footer to freak out. ? */
    align-items: stretch;
    padding: 1rem;
    gap: 1rem;
}

.search-container {
    display: flex; /* Changed from 'box' to 'flex' */
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.search-bar {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    color: var(--text);
    background: var(--card);
    outline: 0;
    border: 1px solid transparent; /* required to mock outline, so layout does not shift */
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
}

.search-bar:focus {
    background:
        linear-gradient(to right, var(--card), var(--card)) padding-box,
        linear-gradient(to right, var(--p), var(--s)) border-box;
}

.small {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    padding: 1rem;
}

.message.error {
    color: var(--red);
}

.message.success {
    color: var(--clr-green);
}

.article-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    max-width: 60rem;
}

.content {
    display: flex;
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    flex-direction: column;
    justify-content: start;
    color: var(--clr-text);
    text-align: left;
    gap: 1rem;
}

h1 {
    color: var(--text);
    font-size: 1.3rem;
    font-weight: bold; /* bold is 700, normal is 400, this is semi-bold */
    max-width: 800px;
}

h2 {
    color: var(--text);
    font-size: large;
    font-weight: bold;
}

ul {
    font-size: normal;
    color: var(--text);
    max-width: 801px;
}

section {
    color: var(--text);
    font-size: 1rem;
    max-width: 800px;
}

.inline {
    color: var(--red);
    font-weight: normal;
    text-decoration: none;
}

.inline:hover {
    color: var(--clr-blue);
    font-weight: normal;
}

a {
    color: var(--s);
    text-decoration: none; /* Removes the underline */
}

/* Changing the color when the link is hovered over */
a:hover {
    color: var(--t); /* Set your desired hover color */
}

.cards {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    gap: 2rem;
}

.card-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    position: relative;
    gap: 1rem;
    padding: 1rem;
    background: var(--card);
    border-radius: 1rem;
}

.card-body {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.card-profile {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.card-profile img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: border-radius 200ms ease-in-out;
    border: 2px solid transparent;
}

.card-profile img:hover {
    border: 2px solid var(--borders);
}

.highlight {
    background-color: rgba(179, 135, 250, 0.5); /* Apply a pink background color as the highlight */
    padding: 0 2px; /* Add some padding to the left and right of the text for better visibility */
    border-radius: 0px; /* Optional: add rounded corners to the highlight */
}

.highlight:hover {
    background-color: rgba(253, 111, 156, 0.5);
}

.card-profile {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.card-profile img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: border-radius 200ms ease-in-out;
    border: 2px solid transparent;
}

.card-header {
    color: var(--text);
    font-weight: normal;
    font-size: small;
    cursor: pointer;
}

.card-header:hover {
    background: linear-gradient(to right, var(--p), var(--s));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.custom-divider {
    border: 0; /* Removes the default border */
    height: 1px; /* Sets the height of the divider */
    background-color: #333; /* Sets the color of the divider */
    max-width: 60rem;
}

.card-profile {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.card-profile img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: border-radius 200ms ease-in-out;
    border: 0px solid black;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--clr-text);
    background: var(--clr-black);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer i {
    color: var(--red);
}

.tags {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.tag {
    color: var(--text);
    font-size: 0.875rem; /* Example, adjust based on your design system */
    font-weight: 550;
    border-radius: 12px;
    border: 1px solid var(--text); /* Consolidated border property */
    padding: 2px 6px;
    background-color: var(--bg); /* Example, adjust or use a CSS variable */
}

.tag:hover, .tag:focus {
    color: var(--bg);
    background-color: var(--text);
    cursor: pointer;
}

/* Ensure your CSS variables (--text, --tag-background, etc.) are defined in a :root selector or within relevant parent selectors */

::placeholder {
    font-size: 16px;
    color: var(--clr-text);
}
