/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* https://www.youtube.com/watch?v=cH8VbLM1958&list=PLvbSExvFRKLO7k618HWtC5P_cCfvXDjy_&index=7 */
* {
    min-width: 0; /* https://www.youtube.com/watch?v=FD3aC_Ke8uk */
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* https://www.youtube.com/watch?v=snKm-VzJCOo */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    max-width: 80ch;
    text-wrap: pretty; /* Prevent any orphans from text wrapping */
}

/* https://www.youtube.com/watch?v=345V2MU3E_w&list=PLvbSExvFRKLO7k618HWtC5P_cCfvXDjy_&index=2 */
img {
    font-style: italic;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

/* ---------------------------------------------------- */

@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist/Geist-Light.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist/Geist-Bold.otf') format('truetype');
    font-weight: bold;
}

:root {
    --red: #f87171;
    --bg: #121c22;
    /* --b2: #0e171e */
    /* --b3: #091319 */
    --text: #9fb9d0;
    --p: #ff865b; /* orange */
    --s: #fd6f9c; /* purple */
    --t: #b387fa;  /* red-pinkish */
    --borders: #9fb9d0;
    --bor: #2f3943;
    --card: #1b262c; /* dark blue (--nc) */

    --fs-h2: 1.25rem;
    --fs-h3: 1rem;
    --fs-normal: 1rem; /* normal */
    --fs-small: 0.8rem; /* small */
}

/* Target screens of below 40rem */
/* https://www.youtube.com/watch?v=wARbgs5Fmuw&list=PLvbSExvFRKLPcbP9PbvGMSxZJZjdIiRfJ&index=2 */
/* https://www.youtube.com/watch?v=VQraviuwbzU&list=PL4-IK0AVhVjM6kuUoUexfmnD8vHtZkXdd&index=4 */
@media screen and (max-width: 40em) {
    :root {
        --fs-h2: 1.125rem;
        --fs-h3: 1rem;
        --fs-normal: 1rem;
        --fs-small: 0.75rem; /* small */
    }
}

body {
    font-family: 'Geist';
    font-size: var(--fs-normal);
    color: var(--text);
    background: var(--bg);
}

main {
    display: flex;
    flex-flow: column nowrap; /* Wrap causes the footer to freak out. ? */
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
}

.search-container {
    display: flex; /* Changed from 'box' to 'flex' */
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    padding: 1rem 1rem 0rem 1rem;
}

.search-bar {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    color: var(--text);
    background: var(--card);
    outline: 0; /* https://www.youtube.com/watch?v=xx_pJ2ouGnc&list=PLvbSExvFRKLO7k618HWtC5P_cCfvXDjy_&index=2 */
    border: 1px solid transparent; /* required to mock outline, so layout does not shift */
    padding: 8px;
    border-radius: 8px;
    font-size: var(--fs-normal);
}

.search-bar:focus {
    background:
        linear-gradient(to right, var(--card), var(--card)) padding-box,
        linear-gradient(to right, var(--p), var(--s)) border-box;
}

.small {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    padding: 1rem;
}

.message.error {
    color: var(--red);
}

.message.success {
    color: var(--clr-green);
}

.custom-divider {
    border: 0; /* Removes the default border */
    height: 1px; /* Sets the height of the divider */
    background-color: var(--bor); /* Sets the color of the divider */
}

.article-img {
    width: 100%;
    height: 30vh;
    border-radius: 2em;
    object-fit: cover; /* prevent image from being strectched */
    object-position: center;
    margin: 1rem 0rem;
}

.article-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.content {
    display: flex;
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.content img {
    width: 100%;
    object-fit: cover; /* prevent image from being strectched */
    object-position: center;
    padding: 0.5rem 0rem; /* top-bot, left-right */
    border-radius: 2rem;
}

h2 {
    color: var(--text);
    font-size: var(--fs-h2);
    line-height: 1.1;
    text-transform: capitalize;
}

ul,
ol {
    font-size: var(--fs-normal);
    color: var(--text);
    max-width: 801px;
    padding-left: 1rem;
}

code {
    font-size: 13px;
    background: var(--card);
    color: var(--text);
    padding: 0.2rem;
    border-radius: 4px;
    font-family: 'Fira Code', monospace;
}

pre {
    background: var(--card);
    border: 1px solid var(--bor);
    border-radius: 1rem;
    color: var(--text);
    page-break-inside: avoid;
    font-family: 'Fira Code', monospace;
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1rem;
    display: block;
    word-wrap: break-word;
}

section {
    color: var(--text);
    font-size: var(--fs-normal);
    max-width: 800px;
}

.inline {
    color: var(--red);
    font-weight: normal;
    text-decoration: none;

    &:hover {
        color: var(--clr-blue);
        font-weight: normal;
    }
}

/* Force link to break to newline */
a {
    color: var(--s);
    text-decoration: none; /* Removes the underline */
    word-wrap: break-word; /* Standard property is overflow-wrap */
    word-break: break-all;

    /* Changing the color when the link is hovered over */
    &:hover {
        color: var(--t); /* Set your desired hover color */
    }
}

.card-highlights {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    gap: 1rem;
}

.card-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    position: relative;
    gap: 1rem;
    padding: 1rem;
    background: var(--card);
    border-radius: 1rem;
}

.card-body {
    display: flex;
    flex-flow: column;
}

/* Cut-off text after 3 lines */
.card-section {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-profile img:hover {
    border: 2px solid var(--borders);
}

.highlight {
    background-color: rgba(179, 135, 250, 0.5); /* Apply a pink background color as the highlight */
    padding: 0 2px; /* Add some padding to the left and right of the text for better visibility */
    border-radius: 0px; /* Optional: add rounded corners to the highlight */

    &:hover {
        background-color: rgba(253, 111, 156, 0.5);
    }
}

.card-header {
    color: var(--text);
    font-weight: normal;
    font-size: var(--fs-small);
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
        background: var(--t);
        text-shadow: none;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.card-profile {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
    align-items: center;
    cursor: pointer;

    & img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        transition: border-radius 200ms ease-in-out;
        border: 0px solid black;
    }
}

footer {
    display: flex;
    justify-content: center;
    color: var(--clr-text);
    background: var(--clr-black);
    padding-top: 1em;
    padding-bottom: 3em;
}

footer i {
    color: var(--red);
}

/* https://www.youtube.com/watch?v=p3_xN2Zp1TY&list=PL4-IK0AVhVjM6kuUoUexfmnD8vHtZkXdd&index=5 */
.tag-container {
    display: flex;
    gap: 0.75em;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;

    /* Nesting: https://www.youtube.com/watch?v=YnWPeA6l5UE */
    .tag {
        flex: 0 0 auto; /* don't wrap a tag to newline */
        color: var(--text);
        font-size: var(--fs-small); /* Example, adjust based on your design system */
        font-weight: 550;
        border-radius: 10px;
        border: 1px solid var(--text); /* Consolidated border property */
        padding: 1px 5px;
        background-color: var(--card); /* Example, adjust or use a CSS variable */

        &:hover,
        &:focus {
            color: var(--bg);
            background-color: var(--text);
            cursor: pointer;
        }
    }
}

/* Ensure your CSS variables (--text, --tag-background, etc.) are defined in a :root selector or within relevant parent selectors */

::placeholder {
    font-size: var(--fs-normal); /* Example, adjust based on your design system */
    color: var(--clr-text);
}

/*-----------------------------------------------------------
 * Article Cards
 * ----------------------------------------------------------- */

/* https://www.youtube.com/watch?v=p3_xN2Zp1TY&list=PL4-IK0AVhVjM6kuUoUexfmnD8vHtZkXdd&index=4 */
.article-cards {
    --min-col-size: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
    gap: 1em;
}

.article-card-container {
    border-radius: 1rem;
    background-color: var(--card);
    border-width: 0px;
    border-style: solid;
}

.article-card-body {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: center;
    position: relative;
    gap: 1em;
    padding: 1em;
}

.article-card-header {
    color: var(--text);
    font-weight: bold;
    font-size: var(--fs-normal);
    text-transform: capitalize;
    cursor: pointer;
}

.article-card-header:hover {
    color: var(--s);
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.htmx-indicator{
    width: 50px;
    height: 50px;
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

.spinner-container {
    display: flex;
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    justify-content: center;
    align-items: center;
    height: 100%; /* Take up full height of the parent */
    padding-top: 4em;
}

.ripple {
    text-decoration: none;
    color: #fff;
    max-width: 6px;
    max-height: 6px;
    background-color: #00E7FF;
    margin: 0 auto;
    border-radius: 100px;
    -webkit-animation: ripple 0.7s linear infinite;
    animation: ripple 0.7s linear infinite;
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3), 0 0 0 5px rgba(0, 231, 255, 0.3), 0 0 0 15px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 231, 255, 0.3), 0 0 0 15px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 45px rgba(0, 231, 255, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3), 0 0 0 5px rgba(0, 231, 255, 0.3), 0 0 0 15px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 231, 255, 0.3), 0 0 0 15px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 45px rgba(0, 231, 255, 0);
  }
}

/*
.htmx-indicator{
    flex-grow: 1; 
    padding-top: 2rem;
    height: 60px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity: 1;
}
.htmx-request.htmx-indicator{
    opacity: 1;
}
*/

b {
    font-size: var(--fs-small);
    font-weight: normal;
}

.highlight {
    background-color: rgba(179, 135, 250, 0.5); /* Apply a pink background color as the highlight */
    padding: 0 2px; /* Add some padding to the left and right of the text for better visibility */
    border-radius: 0px; /* Optional: add rounded corners to the highlight */

    &:hover {
        background-color: rgba(253, 111, 156, 0.5);
    }
}

.card-profile {
    -webkit-margin-before: auto;
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 1em;
    align-items: center;
    cursor: pointer;

    /* FIXME: Do not use fized sizes */
    & img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        transition: border-radius 200ms ease-in-out;
        border: 0px solid black;

        &:hover {
            color: var(--p);
            border-radius: 5px;
        }
    }
}

.author-name {
    padding-right: 0.5em;
    color: var(--text);
    font-size: var(--fs-normal);
}

.card-date {
    color: var(--text);
    font-size: var(--fs-small);
}

/* FIXME: */
.card-thumbnail {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    border-width: 0px;
    height: 10rem;
    object-fit: cover;
    object-position: center;
}

.btn-ripple {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    align-self: center;
    margin-top: 4em; /* FIXME */
    margin-bottom: 2em; /* FIXME */
}

.load {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    align-self: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.full-width {
  grid-column: 1 / -1;
}
