/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    min-width: 0; /* OMFG this thing */
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* https://www.youtube.com/watch?v=snKm-VzJCOo */
h1, h2, h3, { text-wrap: balance; }

p {
    max-width: 80ch;
    text-wrap: pretty; /* Prevent any orphans from text wrapping */
}

/* https://www.youtube.com/watch?v=345V2MU3E_w&list=PLvbSExvFRKLO7k618HWtC5P_cCfvXDjy_&index=2 */
img {
    font-style: italic;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist/Geist-Light.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist/Geist-Bold.otf') format('truetype');
    font-weight: bold;
}

:root {
    --gap: 1em;
    --gap-small: 0.5em;
    --pad: 1em;
    --pad-small: 0.5em;
    --rad: 1em;
    --rad-large: 1em;
    --img-height: 8em;

    --clr-bg: #121c22;
    --clr-txt: #9fb9d0;
    --clr-primary: #ff865b; /* orange */
    --clr-secondary: #fd6f9c;  /* purple */
    --clr-tertiary: #b387fa;  /* red-pinkish */
    --clr-card: #1b262c; /* dark blue */
    --clr-border: #2f3943;
    --clr-red: #f87171;

    --fs-h2: 1.25rem;
    --fs-h3: 1rem;
    --fs-normal: 1rem; /* normal */
    --fs-small: 0.8rem; /* small */
    --fs-xs: 0.7rem; /* small */
}

/* Target screens of below 40rem */
/* https://www.youtube.com/watch?v=wARbgs5Fmuw&list=PLvbSExvFRKLPcbP9PbvGMSxZJZjdIiRfJ&index=2 */
/* https://www.youtube.com/watch?v=VQraviuwbzU&list=PL4-IK0AVhVjM6kuUoUexfmnD8vHtZkXdd&index=4 */
@media screen and (max-width: 40em) {
    :root {
        --fs-h2: 1.125rem;
        --fs-h3: 1rem;
        --fs-normal: 1rem;
        --fs-small: 0.75rem; /* small */
        --fs-xs: 0.7rem; /* small */
    }
}

body {
    font-family: 'Geist';
    font-size: 100%; /* https://adrianroselli.com/2024/03/the-ultimate-ideal-bestest-base-font-size-that-everyone-is-keeping-a-secret-especially-chet.html */
    color: var(--clr-txt);
    background: var(--clr-bg);

    /* https://www.youtube.com/watch?v=JHregeIsjPQ&list=PLvbSExvFRKLPcbP9PbvGMSxZJZjdIiRfJ&index=13 */
    min-height: 100vh;
    padding-top: var(--pad);
    padding-bottom: var(--pad);
    display: grid;
    justify-items: stretch;
    gap: var(--gap);
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        ". header ."
        ". main ."
        "footer footer footer";

    & header {
        grid-area: header;
    }

    & main {
        grid-area: main;
    }

    & footer {
        grid-area: footer;
        justify-self: center;

        display: flex;
        justify-content: center;
        color: var(--clr-txt);
        background: var(--clr-black);

        & i {
            color: var(--clr-red);
        }
    }
}

.search {
    display: flex;

    & input {
        flex-grow: 1; /* Allows the search bar to grow and take up available space */
        color: var(--clr-txt);
        background: var(--clr-card);
        outline: 0; /* https://www.youtube.com/watch?v=xx_pJ2ouGnc&list=PLvbSExvFRKLO7k618HWtC5P_cCfvXDjy_&index=2 */
        border: 1px solid transparent; /* required to mock outline, so layout does not shift */
        padding: var(--pad-small) var(--pad);
        border-radius: 100vmax; /* https://www.youtube.com/watch?v=MywezIxlp8Y&list=WL&index=4&t=311s */
        font-size: var(--fs-normal);

        &::placeholder {
            color: var(--clr-txt);
            opacity: 0.7;
        }

        &:focus {
            background:
                linear-gradient(to right, var(--clr-card), var(--clr-card)) padding-box,
                linear-gradient(to right, var(--clr-primary), var(--clr-secondary)) border-box;
        }
    }
}

hr {
    border: 0; /* Removes the default border */
    height: 1px; /* Sets the height of the divider */
    background-color: var(--clr-border); /* Sets the color of the divider */
}

.article-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--gap);

    & img {
        width: 100%;
        height: 30vh;
        border-radius: var(--rad-large);
        object-fit: cover; /* prevent image from being strectched */
        object-position: center;
    }

    /* https://www.youtube.com/watch?v=p3_xN2Zp1TY&list=PL4-IK0AVhVjM6kuUoUexfmnD8vHtZkXdd&index=5 */
    & section {
        display: flex;
        gap: var(--gap);
        flex-wrap: wrap;

        .tag {
            flex: 0 0 auto; /* don't wrap tag text to newline */
            color: var(--clr-txt);
            font-size: var(--fs-small);
            border-radius: 100vmax; /* https://www.youtube.com/watch?v=MywezIxlp8Y&list=WL&index=4&t=311s */
            border: 1px solid var(--clr-txt);
            padding-left: 0.5em;
            padding-right: 0.5em;

            &:hover,
            &:focus {
                color: var(--clr-bg);
                background-color: var(--clr-txt);
                cursor: pointer;
            }
        }
    }
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--gap);
}

.content {
    display: flex;
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);

    & img {
        width: 100%;
        object-fit: cover; /* prevent image from being strectched */
        object-position: center;
        padding: 0.5em 0em; /* top-bot, left-right */
        border-radius: 2em;
    }

    & h2 {
        color: var(--clr-txt);
        font-size: var(--fs-h2);
        line-height: 1.1;
        text-transform: capitalize;
    }

    & ul,
    & ol {
        font-size: var(--fs-normal);
        color: var(--clr-txt);
        max-width: 801px;
        padding-left: 1em;
    }

    & code {
        font-size: 13px;
        background: var(--clr-card);
        color: var(--clr-txt);
        padding: 0.2em;
        border-radius: 4px;
        font-family: 'Fira Code', monospace;
    }

    & pre {
        padding: var(--pad);
        background: var(--clr-card);
        border: 1px solid var(--clr-border);
        border-radius: var(--rad);
        color: var(--clr-txt);
        page-break-inside: avoid;
        font-family: 'Fira Code', monospace;
        font-size: 13px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        display: block;
        word-wrap: break-word;
    }

    & section {
        color: var(--clr-txt);
        font-size: var(--fs-normal);
        max-width: 40rem;
    }
}

.inline {
    color: var(--clr-red);
    font-weight: normal;
    text-decoration: none;

    &:hover {
        color: var(--clr-blue);
        font-weight: normal;
    }
}

/* Force link to break to newline */
a {
    color: var(--clr-secondary);
    text-decoration: none; /* Removes the underline */
    word-wrap: break-word; /* Standard property is overflow-wrap */
    word-break: break-all;

    /* Changing the color when the link is hovered over */
    &:hover {
        color: var(--clr-tertiary); /* Set your desired hover color */
    }
}

.highlight {
    background-color: rgba(179, 135, 250, 0.5); /* Apply a pink background color as the highlight */
    padding: 0 2px; /* Add some padding to the left and right of the text for better visibility */
    border-radius: 0px; /* Optional: add rounded corners to the highlight */

    &:hover {
        background-color: rgba(253, 111, 156, 0.5);
    }
}

/* https://www.youtube.com/watch?v=p3_xN2Zp1TY&list=PL4-IK0AVhVjM6kuUoUexfmnD8vHtZkXdd&index=5 */
.tag-container {
    display: flex;
    gap: var(--gap-small);
    padding: var(--pad-small);
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.tag-container > * {
    flex: 0 0 auto; /* don't wrap a tag to newline */
    color: var(--clr-txt);
    font-size: var(--fs-xs); /* Example, adjust based on your design system */
    border-radius: 100vmax; /* https://www.youtube.com/watch?v=MywezIxlp8Y&list=WL&index=4&t=311s */
    border: 1px solid var(--clr-txt); /* Consolidated border property */
    padding: 0em 0.5em;
    background-color: var(--clr-card); /* Example, adjust or use a CSS variable */

    &:hover,
    &:focus {
        color: var(--clr-bg);
        background-color: var(--clr-txt);
        cursor: pointer;
    }
}

/* https://www.youtube.com/watch?v=p3_xN2Zp1TY&list=PL4-IK0AVhVjM6kuUoUexfmnD8vHtZkXdd&index=4 */
.card-grid {
    --min-col-size: 15em; /* FIXME: EM or REM? */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-col-size)), 1fr));
    grid-auto-rows: var(--img-height) auto auto auto;
    gap: var(--gap);
}

.card {

    grid-row: span 4;

    display: grid;
    grid-template-rows: subgrid;
    gap: 0; /* Do not inherit gap from parent */
    background-color: var(--clr-card);
    border-radius: 1em;
    border: 0px solid none;

    /* update image hover with filters
     * https://www.youtube.com/watch?v=o1HzOJfgugE&list=PLvbSExvFRKLO7k618HWtC5P_cCfvXDjy_&index=4
     */
    & img {
        width: 100%;
        border-radius: 1em 1em 0em 0em;
        border-width: 0;
        height: var(--img-height);
        object-fit: cover;
        object-position: center;
        filter: grayscale(100%);
        transition: fitler 500ms ease;

        &:hover {
            filter: grayscale(0%);
        }
    }

    /* Mobile and small devices (usually screens smaller than 768px are considered mobile) */
    @media (max-width: 40rem) {
        & img {
            /* Always show full color images on mobile devices */
            filter: grayscale(0%);
        }
    }

    & h3 {
        padding: var(--pad-small);
        color: var(--clr-txt);
        font-weight: bold;
        font-size: var(--fs-normal);
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
            color: var(--clr-secondary);
        }
    }
}

.card-profile {
    display: grid;
    padding: var(--pad-small);
    /* FIXME */
    grid-template-columns: 30px 1fr;
    gap: var(--gap-small);
    align-items: center;
    cursor: pointer;

    /* FIXME: Do not use fized sizes */
    & img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 0px solid black;
    }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.htmx-indicator{
    width: 50px;
    height: 50px;
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

.spinner-container {
    display: flex;
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    justify-content: center;
    align-items: center;
    height: 100%; /* Take up full height of the parent */
    padding-top: 4em;
}

.ripple {
    text-decoration: none;
    color: #fff;
    max-width: 6px;
    max-height: 6px;
    background-color: #00E7FF;
    margin: 0 auto;
    border-radius: 100px;
    -webkit-animation: ripple 0.7s linear infinite;
    animation: ripple 0.7s linear infinite;
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3), 0 0 0 5px rgba(0, 231, 255, 0.3), 0 0 0 15px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 231, 255, 0.3), 0 0 0 15px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 45px rgba(0, 231, 255, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3), 0 0 0 5px rgba(0, 231, 255, 0.3), 0 0 0 15px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 231, 255, 0.3), 0 0 0 15px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 45px rgba(0, 231, 255, 0);
  }
}

/*
.htmx-indicator{
    flex-grow: 1; 
    padding-top: 2rem;
    height: 60px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity: 1;
}
.htmx-request.htmx-indicator{
    opacity: 1;
}
*/

b {
    font-size: var(--fs-small);
    font-weight: normal;
}

.highlight {
    background-color: rgba(179, 135, 250, 0.5); /* Apply a pink background color as the highlight */
    padding: 0 2px; /* Add some padding to the left and right of the text for better visibility */
    border-radius: 0px; /* Optional: add rounded corners to the highlight */

    &:hover {
        background-color: rgba(253, 111, 156, 0.5);
    }
}

.author-name {
    padding-right: 0.5em;
    color: var(--clr-txt);
    font-size: var(--fs-normal);
}

.card-date {
    color: var(--clr-txt);
    font-size: var(--fs-small);
}

.btn-ripple {
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
    align-self: center;
    margin-top: 4em; /* FIXME */
    margin-bottom: 2em; /* FIXME */
}

.load {
    flex-grow: 1; /* Allows the earch bar to grow and take up available space */
    align-self: center;
}

.full-width {
  grid-column: 1 / -1;
}
